# Sphinx Build files
docs/_build/*
# Environments
venv/*
venv/
# Compiled files
pyfor/*.pyc
pyfor/test.py
pyfor/__pycache__

# ipynb checkpoints
samples/.ipynb_checkpoints/*

# Other
.DS_Store
htmlcov/
htmlcov/*
changelog_0.2.1.md
pyfortest/temp.*
