# Sphinx Build files
docs/_build/*
docs/doctrees
# Environments
venv/*
venv/
# Compiled files
pyfor/*.pyc
pyfor/test.py
pyfor/__pycache__

# ipynb checkpoints
samples/.ipynb_checkpoints/*

# Other
.DS_Store
htmlcov/
htmlcov/*
changelog_0.2.1.md
pyfortest/temp.*
/.idea
/.vs
/docs/api/setup.rst
/docs/api/pyfortest.test_pyfor.rst
/docs/api/pyfortest.test_collection.rst
/docs/api/pyfortest.rst
/docs/html/.doctrees/advanced
/docs/html/.doctrees/api
/docs/html/.doctrees/topics
/docs/html/.doctrees
/docs/html/api/pyfortest.html
/docs/html/api/pyfortest.test_collection.html
/docs/html/api/pyfortest.test_pyfor.html
/docs/html/api/setup.html
/docs/html/_sources
/docs/html/_static
/pyfortest/__pycache__
/__pycache__
/temp_tif.tif
