### Requirements without Version Specifiers ###
#affine
#gdal
#ogr
#scipy
#numpy
#numpy-mkl
#pandas
#json
#itertools
#laspy

#sphinx
sphinxcontrib-fulltoc


### A Very Specific Version of Laspy ###

#-e git:https://github.com/brycefrank/laspy.git
